@use "/assets/styles/helpers";
@import "/assets/styles/sizes.scss";

.header{
  position: relative;
  width: 100%;
  padding: var(--space-5) var(--space-5);
  gap:var(--space-3);
  display:flex;
  flex-direction: column;
  display: flex;
  flex-direction: row;
  align-items: center;
  @media #{$mq-min-md}{
    padding: var(--space-10) var(--space-5);
  }
  img{
    width: 200px;
    display: block;
    margin: 0 auto;
  }
  &__nav{        
    margin-left: var(--space-3);
    a{
      font-family: var(--font-firasans), serif;
      font-size: helpers.rem(20);
      font-weight: 600;
    }
  }

  &__util{
    align-content: center;
    text-align: right;
    flex-grow: 1;
  }

  &__skiplink{
    background: var(--color-anchor);
    color: var(--color-page-bg);
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 4px;
    padding: var(--space-2) var(--space-4);
    position: absolute;
    left: -100vw;
    transition-duration: 0;
    &:focus{
      color: var(--color-page-bg);
      left:var(--space-5);
    }
  }
}
