@use "/assets/styles/helpers";
@import "/assets/styles/sizes.scss";

.header{
  width: 100%;
  padding: var(--space-5) var(--space-5);
  gap:var(--space-3);
  display:flex;
  flex-direction: column;
  display: flex;
  flex-direction: row;
  @media #{$mq-min-md}{
    padding: var(--space-10) var(--space-5);
  }
  img{
    width: 200px;
    display: block;
    margin: 0 auto;
  }
  &__nav{        
    margin-left: var(--space-3);
    a{
      font-family: var(--font-firasans), serif;
      font-size: helpers.rem(20);
      font-weight: 600;
    }
  }

  &__util{
    align-content: center;
    text-align: right;
    flex-grow: 1;
  }
}
