@use "/assets/styles/helpers";
@import "/assets/styles/sizes.scss";

.header{
  width: 100%;
  padding: var(--space-5) var(--space-3);
  text-align: center;
  gap:var(--space-3);
  display:flex;
  flex-direction: column;
  @media #{$mq-min-md}{
    padding: var(--space-10) 0;
    text-align: unset;
    display: flex;
    flex-direction: row;
  }

  img{
    width: min( 100%, 200px );
    display: block;
    margin: 0 auto;
  }

  &__nav{        
    flex: 1;
    @media #{$mq-min-md}{
      text-align: right;
    }
    a{
      font-family: var(--font-firasans), serif;
      font-size: helpers.rem(20);
      font-weight: 600;
    }
  }
}
