@use './helpers.scss';

h1{
  font-size: helpers.rem(36);
  font-weight: 700;
}

a{
  text-decoration: none;
  color: var(--color-anchor);
  transition: var(--transition);
  transition-duration: var(--transition-duration);
  &:hover{
    text-decoration: underline;
    color: var(--color-anchor-hover);
  }
}

p{
  font-size: helpers.rem(18);
  line-height: 1.5;
}
code{
  padding: var(--space-4);
  white-space: pre-wrap;
  background: var(--color-bg-surface-secondary);
  display: inline-block;
}
