@use './helpers.scss';

h1{
  margin:0;
  font-size: helpers.rem(28);
  font-weight: 800;
}

h2{
  font-size: helpers.rem(20);
  padding: 0;
  margin: 0;
}

h3{
  font-size: helpers.rem(16);
  padding: 0;
  margin:0;
}

strong{
  font-weight: 700;
}

p{
  margin:0 0 0.5em;
  font-size: helpers.rem(20);
  &.large{
    font-size: helpers.rem(24);
    line-height: 1.6;
  }
}

a{
  color: var(--anchor-color);
  transition: var(--transition);
  font-weight: 600;
  transition-duration: var(--transition-duration);
  &:hover{
    color: var(--anchor-color-hover);
  }
}

