:root{
  --transition: 0.125s;
  
  // colors
  --color-anchor:  #0068d7;
  --color-anchor-hover:  #0054ae;
  --color-border: #d7d7d7;
  /* 
  --highlight-text: #ccffd2;

  // colors
  --color-page-bg: #292c31;
  --color-primary-text: #fff;
  --color-border: #777;
  --color-card-bg: #292e35;
  --color-card-bg-focus: #444651;
  --color-card-bg-active: #2d2d2d;
  --color-card-border: #555;

  --color-focus-bg: rgba(39, 212, 255, 0.1);
  --color-focus-outline:  #27d4ff;

  // Buttons
  --button-light: #fbfbfb;
  --button-focus: #d5f7ff;
  
  // Inputs
  --input-bg: #fff;
  --input-border: #919191;
  --input-focus: #27d4ff;
  --input-focus-bg: #222737;
  
  --color-success:#ccffd2;
  --color-error:#ff9c9c;
  
  // font sizes

  */
  // spacing
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-5: 20px;
  --space-6: 24px;
  --space-10: 40px;
  --space-20: 80px;
  --space-100: 400px;
  --space-200: 800px;

  --transition-duration: 0.25s;

  // sizes
  --padding-2: var(--space-2); 
  --padding-3: var(--space-3); 
  --padding-4: var(--space-4); 



  @media(prefers-color-scheme: light){
    // todo
  }

  @media (prefers-reduced-motion) {
    --transition-duration: 0;
  }
}


 