@use "/assets/styles/helpers";

.projectcards{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: var(--space-10);
  margin: var(--space-5) auto 0;
  max-width: var(--size-container-300);
  &__card{
    color: var(--color-text-primary);
    cursor: pointer;
    border-radius: 2px;
    overflow: hidden;
    display: grid;
    // grid-template-rows: subgrid;
    // grid-row: span 3;
    // grid-gap: 0;

    &:hover, &:focus{
      background: #ebf5ff;
      color: var(--color-text-primary);
      text-decoration: none;
    }
  }
  &__content{
    display: grid;
    padding: var(--space-5);
    grid-template-rows: subgrid;
    grid-row: span 2;
    
  }

  &__subtitle{
    font-size: helpers.rem(14);
  }
} 
