@use "/assets/styles/helpers";

.btncolorscheme{
  padding: 6px;
  margin:0;
  border:none;
  cursor: pointer;
  background: light-dark(#fff, #000);

  &__icon{
    width: 200px;
    width: 32px;
    path{
      stroke-width:10;
      stroke-linecap: round;
      stroke: light-dark(#000, #fff);
      fill: transparent;
    }
  }

  &__rays{
    path{
      stroke-dasharray: 5 110; 
      stroke-dashoffset: inherit;
      // stroke-dashoffset: var(--stroke-offset);
    }
  }
}
